@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.feature-title{
    font-weight: 600;
    font-size: 1.75rem;
    margin: 0.5rem 0;
    text-align: center;
    color: black;
}

.feature-text{
    font-size: 1.25rem;
    font-weight: 300;
    color: #777;
    text-align: center;
}